# This is a basic workflow to help you get started with Actions

name: Diffy

# Controls when the workflow will run
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '40 1 * * 1'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a set of commands using the runners shell
      - name: Trigger Diffy comparison
        run: |
          php $GITHUB_WORKSPACE/diffy.phar auth:login ${{ secrets.DIFFY_API_KEY }}
          php $GITHUB_WORKSPACE/diffy.phar project:compare 21058 prod stage
